# Supabase Credentials
VITE_SUPABASE_URL=https://ovhhtfquspnbbselzvkb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92aGh0ZnF1c3BuYmJzZWx6dmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MzExOTksImV4cCI6MjEwMjEwNzE5OX0.c6Lr8-MQCfGmdeUJWOaw1j-Opq0rC8_YuP9HT42z5VE
